<!DOCTYPE html>
<html lang = "en">
   <head> 
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>
      <meta name="google-signin-client_id" content="812189163846-d1tde25sj41u4sceubo69skefprqci1t.apps.googleusercontent.com">
      <meta name ="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login</title>
  </head>

  <body>
    <h3>SAMPLE CONNECT FROM DEVELOPERS<p>LOGIN PAGE OAuth 2</p></h3>
    <h4>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

     <!-- Тестовая кнопка передачи Google Api в backEnd -->
    <script>
      function onSignIn(googleUser) {
        let id_token = googleUser.getAuthResponse().id_token;
        //console.log(id_token);
        let div = document.getElementById('message');
        div.innerHTML = id_token;

        let xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/v1/account/loginGoogle');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
        };
      xhr.send(JSON.stringify({token: id_token}));

      }
    </script>
    <h6>TOKEN GOOGLE:</h6>
    <textarea id="message"  rows='10' style="width: 100%"></textarea>

    <style>
      .signin-button {
          width: 210px;
          height: 40px;
      }
    </style>

    <a class="btn btn-primary" role="button" href="#" onclick="signOut();" style="margin-top: 1em">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();

        auth2.signOut().then(function () {
          let div = document.getElementById('message');
          div.innerHTML = "User signed out.....";
          console.log('User signed out.');
        });
      }
    </script>
    </h4>
  </body>
</html>